<%-include('foxy/header.ejs')%>
<link rel="stylesheet" href="/stylesheets/index.css">

<%-include('foxy/nav.ejs')%>

<div class="box">
  <div class="overlay">
    <h1 id="ah1">Register Your</h1>
    <h1 id="ah1">Favourite Movie</h1>
    <h1 id="ah1">Here..</h1>
    <a href="/rg"><button>REGISTER</button></a>

  </div>
</div>

<%-include('foxy/footer.ejs')%>